.billboard{
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 305px;
	background: url(../imgs/banner-bg.jpg) no-repeat 0 0;
    position: center center;
    background-size: cover;
}

.opening-animation {
    @media( min-width: $xxs-breakpoint){
        font-size: .225rem;
    }
    @media( min-width: $xs-breakpoint){
            font-size: .35rem;
    }
    @media( min-width: $md-breakpoint){
            font-size: .5rem;
    }
    @media( min-width: $lg-breakpoint){
            font-size: .75rem;
    }
    @media( min-width: $xl-breakpoint){
            font-size: 1rem;
    }
}

// Homepage Animation Section
.floater {
    width: 700px;
    height: 700px;
    background-color: $floater;
    position: absolute;
    background-blend-mode: overlay;
    transform: rotate(45deg);
}
section.first-slide, section.second-slide {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 40px);
    position: absolute;
}
section.first-slide {
    bottom: 15%;
    @include transition(all .5s ease);
}
section.first-slide.shrink {
    bottom: 55%;
    @include transition(all .5s ease);
}
section.second-slide {
    display: none;
    bottom: 30%;
    opacity: 0;
    @include transition(all .5s ease); 
}
section.second-slide.shrink {
    display: block;
    opacity: 1;
    @include transition(all .5s ease);
}
section.load, .billboard .content {
    position: relative;
    height: 100%;
}
.arrow {
    position: absolute;
    width: $arrow-size / 2;
    height: auto;
    @include center(true, true);
    top: 30%;
    @include transition(all .5s ease);
    img {
        position: absolute;
        bottom: -($arrow-size / 4);
        left: 0px;
        @include transition(all .5s ease);
    }
    p.fade-down {
        text-transform: uppercase;
    }
}
.arrow-spinner {
    position: absolute;
    width: $arrow-size;
    height: auto;
    @include center(true, true);
    top: 30%;
    animation-name: spinner;
    animation-timing-function: cubic-bezier(.42, 0, .58, 1);
    animation-delay: .25s;
    animation-duration: 1.5s;
    @include transition(all .5s ease);
    .scroll {
        display: none;
    }
}
.arrow.shrink {
    width: $arrow-size / 6;
    height: auto;
    bottom: 0px;
    top: 50%;
    @include transition(all .5s ease);
    img {
        transform: rotate(-180deg);
        @include transition(all .5s ease);
    }
}
.arrow-spinner.shrink {
    @extend .arrow.shrink;
    width: $arrow-size / 3;
    top: inherit;
    bottom: 25px;
    text-align: center;
    .scroll {
        display: block;
        top: 0;
        opacity: 1;
        @include transition(all .25s ease);
        @include uppercase;
    }
}
.one-left {
    animation-name: wobble-left-one;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.two-left {
    top: 30%;
    animation-name: wobble-left-two;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.one-right {
    top: 20%;
    animation-name: wobble-right-one;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.two-right {
    top: -10%;
    animation-name: wobble-right-two;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

@media(min-width: $xxs-breakpoint){
    .arrow {
        width: $arrow-size / 4;
        img {
            bottom: -($arrow-size / 8);
        }
    }
    .arrow-spinner {
        animation-name: spinner-small;
        animation-iteration-count: 1;
        width: $arrow-size / 2;
        @include center(true, true);
        top: 30%;
    }
    .arrow.shrink {
        width: $arrow-size / 12;
    }
    .arrow-spinner.shrink {
        width: $arrow-size / 6;
        top: 81%;
    }
}
@media(min-width: $xs-breakpoint){ 
}
@media(min-width: $sm-breakpoint){
    .billboard{
        height: 407px;
    }
    section.second-slide {
        bottom: 35%;
    }
    section.first-slide.shrink {
        bottom: 60%;
    }
    .arrow-spinner.shrink, .arrow.shrink {
        top: 37%;
    }
    .arrow-spinner.shrink {
        top: 77%;
    }
}
@media(min-width: $md-breakpoint){
    .billboard{
        height: 509px;
    }
    .arrow {
        width: $arrow-size / 2;
        img {
            bottom: -($arrow-size / 4);
        }
    }
    .arrow-spinner {
        width: $arrow-size;
        animation-name: spinner;
        animation-iteration-count: 1;
    }
    .arrow.shrink {
        width: $arrow-size / 6;
    }
    .arrow-spinner.shrink {
        width: $arrow-size / 3;
    }
    .arrow-spinner.shrink, .arrow.shrink {
        top: 45%;
    }
    .arrow-spinner.shrink {
        top: 80%;
    }
}
@media(min-width: $lg-breakpoint){
    .billboard{
        height: 651px;
    }
    section.second-slide {
        bottom: 25%;
    }
    .arrow-spinner.shrink, .arrow.shrink {
        top: 58%;
    }
    .arrow-spinner.shrink {
        top: 85%;
    }
}
@media(min-width: $xl-breakpoint){
    .billboard{
        height: 814px;
    }
}
@media(min-width: $xxl-breakpoint){
}
