.billboard.middle-animation {
    padding: 0 5%;
    width: 90%;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

.middle-animation .floater {
    opacity: 0;
}

.billboard.middle-animation .title-block {
    margin: 7.5vh 0;
}

.billboard.middle-animation {
    .one-third.first > img, .one-third.second > img, .one-third.third > img {
        opacity: 0;
    }
}
.billboard.middle-animation .one-third {
    position: relative;
    min-height: 450px;
    clear: both;
    float: none;
    margin: 0 auto;
    text-align: center;
    div.title {
        position: relative;
        top: 80px;
        width: 95%;
        max-width: 300px;
        margin: 0 auto;
        opacity: 0;
    }
    img {
        @include center(true, false);
        position: absolute;
    }
    p {
        opacity: 0;
        width: 100%;
        position: relative;
        top: 6.5em;
    }
}
section.title-block {
    margin-bottom: 2.5vh;
}

@media(min-width: $xs-breakpoint){ 
}
@media(min-width: $sm-breakpoint){
}
@media(min-width: $md-breakpoint){
}
@media(min-width: $lg-breakpoint){
    .billboard.middle-animation {
        min-height: calc(100vh - 101px);
        max-height: 100vh;
    }
    .billboard.middle-animation .one-third {
        display: block;
        width: calc(100% / 3);
        float: left;
        clear: none;
    }
}
@media(min-width: $xl-breakpoint){
}
@media(min-width: $xxl-breakpoint){
}
