.portfolio{
	position: relative;
	overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 101px);
	background:#fff;
    color: #4a7997;

/******************************** SLIDES ********************************/
    .iS-Item {
        h2 {
	        position: absolute;
    	    z-index: 1;
    	    top: 6%;
        	left: 10%;
            max-width: 80%;
            text-transform: uppercase;
			@include rem('font-size',40px);
			@include rem('line-height',30px);
            font-weight: normal;
        }
        h2 span {
            font-weight: 100;
			@include rem('font-size',30px);
        }
        p {
    	    position: absolute;
    	    z-index: 1;
        	top: 40%;
	        left: 10%;
            max-width: 80%;
			@include rem('font-size',14px);
			@include rem('line-height',16px);
            color: #a2a2a2;
        }
        img.product {
            display: none;
        }
        img.logo {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 20%;
            top:20%;
            &.healbe{
            }
            &.microarts{
            }
            &.finsix{
            }
            &.badlab{
              max-width: 50%;
            }
        }
        img.btn {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 20%;
            top:70%;
        }
    }
/******************************** THUMBNAILS ********************************/
    .iS.iS-SkinThumbnails {
	    position: relative;
    	top: 0px;
	    left: 0px;
        width: 100%;
        min-height: calc(100vh - 101px);
    }
    .iS-SkinThumbnails .iS-Commands {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top: 0px;
    }
    .iS-SkinThumbnails .iS-Content {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top:0px;
    }
    .iS-SkinThumbnails .iS-Items {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Item {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Previous {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
    	left: 0%;
	    bottom: 0;
    	line-height: 108px;
	    font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Next {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
	    right: 0%;
    	bottom: 0;
	    line-height: 108px;
    	font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Dots {
		display: none;
	}
    .iS-SkinThumbnails .iS-Loopline {
	    position: absolute;
    	z-index: 4;
	    width: 100%;
    	height: 5px;
	    left: 0px;
    	bottom: 110px;
    }
/*Responsive
@media (min-width: 0px) and (max-width: 499px) {
	.iS.iS-SkinThumbnails  {
		width: 100%;
		height: 480px;
	}
	.iS-SkinThumbnails .iS-Next, .iS-SkinThumbnails .iS-Previous {
		width: 50%;
	}
	.iS-SkinThumbnails .iS-Dots {
		display: none;
	}
}    */

}
@media( min-width: $xs-breakpoint){
.portfolio{
  /******************************** SLIDES ********************************/
    .iS-Item {
        h2 {
        }
        h2 span {
        }
        p {
          top: 50%
        }
        img.product {
        }
        img.logo {
          max-width: 40%;
          left: 30%;
            &.healbe{
              top: 30%;
            }
            &.microarts{
              top: 30%;
            }
            &.finsix{
              top: 30%;
            }
            &.badlab{
              max-width:30%;
            }
        }
        img.btn {
          max-width: 40%;
          left: 30%
        }
    }
}
}
@media( min-width: $sm-breakpoint){
.portfolio{  }
}
@media( min-width: $md-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
		display: block;
	}
    .iS-SkinThumbnails .iS-Previous {
    	width: 10%;
    	bottom: 2%;
    }
    .iS-SkinThumbnails .iS-Next {
    	width: 10%;
    	bottom: 2%;
    }
    .iS.iS-SkinThumbnails  {
	}

    .iS-SkinThumbnails .iS-Dots {
    	position: absolute;
	    z-index: 3;
    	text-align: center;
	    left: 10%;
    	bottom: 2%;
	    width: 80%;
    	height: 90px;
    	text-align: center;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Dot {
    	position: absolute;
    	z-index: 3;
	    cursor: pointer;
        width: 180px;
        height: 90px;
        background: url(../imgs/home/thumbs/wbcl.png) no-repeat 0 0;
        text-indent: -5000px;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .iS-SkinThumbnails .iS-Dot.healbe {
        background: url(../imgs/home/thumbs/healbe.png) no-repeat 0 0;
        left: 10%;
    }
    .iS-SkinThumbnails .iS-Dot.microarts {
        background: url(../imgs/home/thumbs/microarts.png) no-repeat 0 0;
        left:15%;
    }
    .iS-SkinThumbnails .iS-Dot.finsix {
        background: url(../imgs/home/thumbs/finsix.png) no-repeat 0 0;
        left: 25%;
    }
    .iS-SkinThumbnails .iS-Dot.badlab {
        background: url(../imgs/home/thumbs/badlab.png) no-repeat 0 0;
        left:30%;
    }
    .iS-SkinThumbnails .iS-Dotactive, .iS-SkinThumbnails .iS-Dot.healbe.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.microarts.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.finsix.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.badlab.iS-Dotactive{
        background-position: 0 -90px;
    }
    .iS-SkinThumbnails .iS-Dotactive:after {
	    opacity: 1;
    }

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
           left: 5%;
		   @include rem('font-size',80px);
		   @include rem('line-height',60px);
        }
        h2 span {
          @include rem('font-size',40px);
        }
        p {
          top: 35%;
          max-width: 50%;
          left: 5%;
		  @include rem('font-size',16px);
          @include rem('line-height',20px);
        }
        img.product {
          display: block;
          max-width: 40%;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 35%;
            &.healbe {
            }
            &.microarts {
              top: 15%
            }
            &.finsix {
            }
            &.badlab {
              max-width: 30%;
              right: 5%;
            }
        }
        img.logo {
            max-width: 25%;
            right: 5%;
            left: auto;
            top:15%;
            &.healbe{
              top:15%;
            }
            &.microarts{
            display: none;
            }
            &.finsix{
              top:15%;
            }
            &.badlab{
              max-width: 20%;
              right: 10%;
            }
        }
        img.btn {
            max-width:30%;
            left: 5%;
            top:60%;
        }
    }
}
}
@media( min-width: $lg-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
	}
    .iS-SkinThumbnails .iS-Previous {
    }
    .iS-SkinThumbnails .iS-Next {
    }
    .iS.iS-SkinThumbnails  {

	}

/******************************** SLIDES ********************************/
    .iS-Item {
        h2 {
        }
        h2 span {
        }
        p {
        }
        img.product {
            &.healbe {
            }
            &.microarts {
              max-width: 35%;
            }
            &.finsix {
              top: 30%;
            }
            &.badlab {
            }
        }
        img.logo {
            &.healbe{
            }
            &.microarts{
            }
            &.finsix{
            }
            &.badlab{
            }
        }
        img.btn {
        }
    }
}
}
@media( min-width: $xl-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
	}
    .iS-SkinThumbnails .iS-Previous {
    }
    .iS-SkinThumbnails .iS-Next {
    }
    .iS.iS-SkinThumbnails  {
	}

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
			@include rem('font-size',100px);
			@include rem('line-height',80px);
        }
        h2 span {
			@include rem('font-size',60px);
        }
        p {

        }
        img.product {
          top: 40%;
            &.healbe {
            top: 35%;
            right:5%;
            }
            &.microarts {
              max-width: 30%;
              right:5%;
            }
            &.finsix {
              max-width: 35%;
              right:5%;
            }
            &.badlab {
              top: 30%;
            }
        }
        img.logo {
            &.healbe{
            right:12%;
            }
            &.microarts{
            }
            &.finsix{
            right:10%;
            }
            &.badlab{
            right:15%;
            max-width: 15%;
            }
        }
        img.btn {
          top: 55%;
        }
    }
}
}
@media( min-width: $xxl-breakpoint){
.portfolio{  /******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
        }
        p {
          @include rem('font-size',20px);
          @include rem('line-height',24px);
        }
    }
    .iS-SkinThumbnails .iS-Dot {
        left: 5%;
    }
    .iS-SkinThumbnails .iS-Dot.healbe {
        left: 15%;
    }
    .iS-SkinThumbnails .iS-Dot.microarts {
        left:25%;
    }
    .iS-SkinThumbnails .iS-Dot.finsix {
        left: 35%;
    }
    .iS-SkinThumbnails .iS-Dot.badlab {
        left:40%;
    }

}
}