.portfolio{
	position: relative;
	overflow: hidden;
    width: 100%;
    height: 400px;
	background:#fff;
    color: #4a7997;
    height: 560px;

/******************************** WBCL ********************************/
    .iS-Item {
        h2 {
	        position: absolute;
    	    z-index: 1;
    	    top: 20px;
        	left: 60px;
            max-width: 80%;
            text-transform: uppercase;
			@include rem('font-size',40px);
			@include rem('line-height',30px);
            font-weight: normal;
        }
        h2 span {
            font-weight: 100;
			@include rem('font-size',30px);
        }
        p {
    	    position: absolute;
    	    z-index: 1;
        	top: 210px;
	        left: 60px;
            max-width: 80%;
			@include rem('font-size',12px);
			@include rem('line-height',16px);
            color: #a2a2a2;
        }
        img.product {
            display: none;
            max-width: 45%;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 120px;
            &.healbe {
                top: 120px;
            }
            &.microarts {
                max-width: 32%;
                right: 10%;
                top: 20px;
            }
            &.finsix {
                top: 80px;
            }
            &.badlab {
                max-width: 30%;
                right: 10%;
                top: 145px;
            }
        }
        img.logo {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 20%;
            top:100px;
            &.healbe{
                top: 125px;
            }
            &.microarts{
                top: 120px;
            }
            &.finsix{
                top: 120px;
            }
            &.badlab{
              max-width: 50%;

            }
        }
        img.btn {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 60px;
            top:340px;
        }
    }
/******************************** THUMBNAILS ********************************/

    .iS.iS-SkinThumbnails {
	    position: relative;
    	top: 0px;
	    left: 0px;
    	margin-bottom:40px;
        width: 100%;
		height: 520px;
    }
    .iS-SkinThumbnails .iS-Commands {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top: 0px;
    }
    .iS-SkinThumbnails .iS-Content {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top:0px;
    }
    .iS-SkinThumbnails .iS-Items {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Item {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Previous {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
    	left: 0%;
	    bottom: 0;
    	line-height: 108px;
	    font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Next {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
	    right: 0%;
    	bottom: 0;
	    line-height: 108px;
    	font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Dots {
		display: none;
	}
    .iS-SkinThumbnails .iS-Loopline {
	    position: absolute;
    	z-index: 4;
	    width: 100%;
    	height: 5px;
	    left: 0px;
    	bottom: 110px;
    }
    .iS-SkinThumbnails .iS-Dots {
    	position: absolute;
	    z-index: 3;
    	text-align: center;
	    left: 10%;
    	bottom: 0;
	    width: 80%;
    	height: 90px;
    	text-align: center;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Dot {
    	position: absolute;
    	z-index: 3;
	    cursor: pointer;
        width: 180px;
        height: 90px;
        background: url(../imgs/home/thumbs/wbcl.png) no-repeat 0 0;
        text-indent: -5000px;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .iS-SkinThumbnails .iS-Dot.healbe {
        background: url(../imgs/home/thumbs/healbe.png) no-repeat 0 0;
        left: 30px;
    }
    .iS-SkinThumbnails .iS-Dot.microarts {
        background: url(../imgs/home/thumbs/microarts.png) no-repeat 0 0;
        left: 60px;
    }
    .iS-SkinThumbnails .iS-Dot.finsix {
        background: url(../imgs/home/thumbs/finsix.png) no-repeat 0 0;
        left: 110px;
    }
    .iS-SkinThumbnails .iS-Dot.badlab {
        background: url(../imgs/home/thumbs/badlab.png) no-repeat 0 0;
        left: 120px;
    }
    .iS-SkinThumbnails .iS-Dotactive, .iS-SkinThumbnails .iS-Dot.healbe.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.microarts.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.finsix.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.badlab.iS-Dotactive{
        background-position: 0 -90px;
    }
    .iS-SkinThumbnails .iS-Dotactive:after {
	    opacity: 1;
    }
/*Responsive
@media (min-width: 0px) and (max-width: 499px) {
	.iS.iS-SkinThumbnails  {
		width: 100%;
		height: 480px;
	}
	.iS-SkinThumbnails .iS-Next, .iS-SkinThumbnails .iS-Previous {
		width: 50%;
	}
	.iS-SkinThumbnails .iS-Dots {
		display: none;
	}
}    */

}
@media( min-width: $xs-breakpoint){
.portfolio{

}
}
@media( min-width: $sm-breakpoint){
.portfolio{
    height: 560px;
    .iS-SkinThumbnails .iS-Dots {
		display: block;
	}
    .iS.iS-SkinThumbnails  {
		width: 100%;
		height: 520px;
	}
     .iS-SkinThumbnails .iS-Previous {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 10%;
    	left: 0%;
	    bottom: 0;
    	line-height: 108px;
	    font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Next {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 10%;
	    right: 0%;
    	bottom: 0;
	    line-height: 108px;
    	font-size: 4em;
    }
}
}
@media( min-width: $md-breakpoint){
.portfolio{
    height: 700px;
    .iS.iS-SkinThumbnails  {
		width: 100%;
		height: 600px;
	}
    .iS-Item {
        h2 {
			@include rem('font-size',80px);
			@include rem('line-height',60px);
        }
        h2 span {
			@include rem('font-size',40px);
        }
        p {
          	top: 180px;
        }
        img.product {
            top: 200px;
            &.healbe {
            }
            &.microarts {
            }
            &.finsix {
            }
            &.badlab {
            }
        }
        img.logo {
            &.healbe{
            }
            &.finsix{
            }
            &.badlab{
            }
        }
        img.btn {
          top: 300px;
        }
    }
}
}
@media( min-width: $lg-breakpoint){
.portfolio{

}
}
@media( min-width: $xl-breakpoint){
.portfolio{

    .iS.iS-SkinThumbnails  {

	}
}
}
@media( min-width: $xxl-breakpoint){
.portfolio{

    .iS.iS-SkinThumbnails  {

	}
}
}