.portfolio{
	position: relative;
	overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 101px);
	background:#fff;
    color: #4a7997;

/******************************** SLIDES ********************************/
    .iS-Item {
        h2 {
	        position: absolute;
    	    z-index: 1;
    	    top: 10%;
        	left: 10%;
            max-width: 80%;
            text-transform: uppercase;
			@include rem('font-size',40px);
			@include rem('line-height',30px);
            font-weight: normal;
        }
        h2 span {
            font-weight: 100;
			@include rem('font-size',30px);
        }
        p {
    	    position: absolute;
    	    z-index: 1;
        	top: 45%;
	        left: 10%;
            max-width: 80%;
			@include rem('font-size',14px);
			@include rem('line-height',16px);
            color: #a2a2a2;
            text-align: center
        }
        img.product {
            display: none;
        }
        img.logo {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 20%;
            top:25%;
            &.healbe{
                top: 125px;
            }
            &.microarts{
                top: 120px;
            }
            &.finsix{
                top: 120px;
            }
            &.badlab{
              max-width: 50%;

            }
        }
        img.btn {
            max-width: 60%;
            position: absolute;
            z-index: 1;
            left: 20%;
            top:70%;
        }
    }
/******************************** THUMBNAILS ********************************/

    .iS.iS-SkinThumbnails {
	    position: relative;
    	top: 0px;
	    left: 0px;
    	margin-bottom:40px;
        width: 100%;
        min-height: calc(100vh - 101px);
    }
    .iS-SkinThumbnails .iS-Commands {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top: 0px;
    }
    .iS-SkinThumbnails .iS-Content {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	left: 0px;
	    top:0px;
    }
    .iS-SkinThumbnails .iS-Items {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Item {
	    position: absolute;
    	width: 100%;
	    height: 100%;
    	top: 0px;
	    left: 0px;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Previous {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
    	left: 0%;
	    bottom: 0;
    	line-height: 108px;
	    font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Next {
	    position: absolute;
    	z-index: 3;
	    cursor: pointer;
    	text-align: center;
	    height: 110px;
    	width: 50%;
	    right: 0%;
    	bottom: 0;
	    line-height: 108px;
    	font-size: 4em;
    }
    .iS-SkinThumbnails .iS-Dots {
		display: none;
	}
    .iS-SkinThumbnails .iS-Loopline {
	    position: absolute;
    	z-index: 4;
	    width: 100%;
    	height: 5px;
	    left: 0px;
    	bottom: 110px;
    }
    .iS-SkinThumbnails .iS-Dots {
    	position: absolute;
	    z-index: 3;
    	text-align: center;
	    left: 10%;
    	bottom: 0;
	    width: 80%;
    	height: 90px;
    	text-align: center;
    	overflow: hidden;
    }
    .iS-SkinThumbnails .iS-Dot {
    	position: absolute;
    	z-index: 3;
	    cursor: pointer;
        width: 180px;
        height: 90px;
        background: url(../imgs/home/thumbs/wbcl.png) no-repeat 0 0;
        text-indent: -5000px;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    .iS-SkinThumbnails .iS-Dot.healbe {
        background: url(../imgs/home/thumbs/healbe.png) no-repeat 0 0;
        left: 30px;
    }
    .iS-SkinThumbnails .iS-Dot.microarts {
        background: url(../imgs/home/thumbs/microarts.png) no-repeat 0 0;
        left: 60px;
    }
    .iS-SkinThumbnails .iS-Dot.finsix {
        background: url(../imgs/home/thumbs/finsix.png) no-repeat 0 0;
        left: 110px;
    }
    .iS-SkinThumbnails .iS-Dot.badlab {
        background: url(../imgs/home/thumbs/badlab.png) no-repeat 0 0;
        left: 120px;
    }
    .iS-SkinThumbnails .iS-Dotactive, .iS-SkinThumbnails .iS-Dot.healbe.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.microarts.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.finsix.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.badlab.iS-Dotactive{
        background-position: 0 -90px;
    }
    .iS-SkinThumbnails .iS-Dotactive:after {
	    opacity: 1;
    }
/*Responsive
@media (min-width: 0px) and (max-width: 499px) {
	.iS.iS-SkinThumbnails  {
		width: 100%;
		height: 480px;
	}
	.iS-SkinThumbnails .iS-Next, .iS-SkinThumbnails .iS-Previous {
		width: 50%;
	}
	.iS-SkinThumbnails .iS-Dots {
		display: none;
	}
}    */

}
@media( min-width: $xs-breakpoint){
.portfolio{
  /******************************** SLIDES ********************************/
    .iS-Item {
        h2 {
        }
        h2 span {
        }
        p {
        }
        img.product {
        }
        img.logo {
            max-width: 40%;
            left: 30%;
            &.healbe{
            }
            &.microarts{
            }
            &.finsix{
            }
            &.badlab{
              max-width: 35%;
            }
        }
        img.btn {
            left: 100px;
        }
    }
}
}
@media( min-width: $sm-breakpoint){
.portfolio{

}
}
@media( min-width: $md-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
		display: block;
	}
    .iS-SkinThumbnails .iS-Previous {
    	width: 10%;
    }
    .iS-SkinThumbnails .iS-Next {
    	width: 10%;
    }
    .iS.iS-SkinThumbnails  {
		width: 100%;
		height: 500px;
	}

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
			@include rem('font-size',80px);
			@include rem('line-height',60px);
        }
        h2 span {
			@include rem('font-size',40px);
        }
        p {
    	    top: 180px;
	        left: 60px;
            max-width: 50%;
			@include rem('font-size',16px);
			@include rem('line-height',20px);
        }
         img.product {
            display: block;
            max-width: 45%;
            position: absolute;
            z-index: 1;
            right: 0;
            top: 120px;
            &.healbe {
                top: 120px;
            }
            &.microarts {
                max-width: 32%;
                right: 10%;
                top: 20px;
            }
            &.finsix {
                top: 80px;
            }
            &.badlab {
                max-width: 30%;
                right: 10%;
                top: 145px;
            }
        }
        img.logo {
            max-width: 20%;
            right: 8%;
            left: auto;
            top:60px;
            &.healbe{
            }
            &.microarts{
            display: none;
            }
            &.finsix{
            right: 10%;
            top: 60px;
            }
            &.badlab{
              max-width: 20%;
              right: 5%;
            }
        }
        img.btn {
            max-width: 30%;
            left: 60px;
            top:320px;
        }
    }
}
}
@media( min-width: $lg-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
	}
    .iS-SkinThumbnails .iS-Previous {
    }
    .iS-SkinThumbnails .iS-Next {
    }
    .iS.iS-SkinThumbnails  {

	}

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
           color: red;
        }
        h2 span {
        }
        p {
        }
        img.product {
            top: 180px;
            &.healbe {
                top: 140px;
            }
            &.microarts {
                max-width: 30%;
                right: 0;
                top: 40px;
            }
            &.finsix {
                top: 120px;
            }
            &.badlab {
                max-width: 30%;
                right: 0%;
                top: 150px;
            }
        }
        img.logo {
            &.healbe{
              top: 60px;
            }
            &.microarts{
            display: none;
            }
            &.finsix{
            }
            &.badlab{
              max-width: 15%;
              right: 8%;
            }
        }
        img.btn {
            max-width: 30%;
            left: 60px;
            top:320px;
        }
    }
}
}
@media( min-width: $xl-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
	}
    .iS-SkinThumbnails .iS-Previous {
    }
    .iS-SkinThumbnails .iS-Next {
    }
    .iS.iS-SkinThumbnails  {
		height: 540px;
	}

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
			@include rem('font-size',100px);
			@include rem('line-height',80px);
        }
        h2 span {
			@include rem('font-size',60px);
        }
        p {
            top: 210px;
        }
        img.product {
            top: 180px;
            &.healbe {
                top: 140px;
            }
            &.microarts {
                max-width: 30%;
                right: 0;
                top: 20px;
            }
            &.finsix {
                max-width: 36%;
                top: 100px;
                right: 5%
            }
            &.badlab {
                max-width: 30%;
                right: 5%;
                top: 130px;
            }
        }
        img.logo {
              top: 40px;
            &.healbe{
            }
            &.microarts{
            display: none;
            }
            &.finsix{
              top: 20px;
              right: 13%;
            }
            &.badlab{
              max-width: 15%;
              right: 15%;
              top: 20px;
            }
        }
        img.btn {
            max-width: 20%;
            left: 60px;
            top:310px;
        }
    }
}
}
@media( min-width: $xxl-breakpoint){
.portfolio{
    .iS-SkinThumbnails .iS-Dots {
	}
    .iS-SkinThumbnails .iS-Previous {
    }
    .iS-SkinThumbnails .iS-Next {
    }
    .iS.iS-SkinThumbnails  {
		height: 840px;
	}

/******************************** SLIDES ********************************/
    .iS-Item {
         h2 {
			@include rem('font-size',120px);
			@include rem('line-height',100px);
        }
        h2 span {
			@include rem('font-size',80px);
        }
        p {
            top: 260px;
            max-width: 40%;
        }
        img.product {
            max-width: 50%;
            top: 220px;
            &.healbe {
            max-width: 45%;
            top: 160px;
            }
            &.microarts {
                max-width: 30%;
                right: 5%;
                top: 20px;
            }
            &.finsix {
                top: 130px;
            }
            &.badlab {
                top: 150px;
            }
        }
        img.logo {
              top: 40px;
              right: 12%;
            &.healbe{
            }
            &.microarts{
            display: none;
            }
            &.finsix{
              top: 40px;
              right: 13%;
            }
            &.badlab{
              max-width: 15%;
              right: 15%;
              top: 20px;
            }
        }
        img.btn {
            max-width: 20%;
            left: 60px;
            top:360px;
        }
    }
      .iS-SkinThumbnails .iS-Dot {
    	position: absolute;
    	z-index: 3;
	    cursor: pointer;
        width: 240px;
        height: 120px;
        background: url(../imgs/home/thumbs/wbcl.png) no-repeat 0 0;
        text-indent: -5000px;
        overflow: hidden;
        top: 0;
        left: 60px;
    }
    .iS-SkinThumbnails .iS-Dot.healbe {
        background: url(../imgs/home/thumbs/healbe.png) no-repeat 0 0;
        left: 90px;
    }
    .iS-SkinThumbnails .iS-Dot.microarts {
        background: url(../imgs/home/thumbs/microarts.png) no-repeat 0 0;
        left:180px;
    }
    .iS-SkinThumbnails .iS-Dot.finsix {
        background: url(../imgs/home/thumbs/finsix.png) no-repeat 0 0;
        left: 270px;
    }
    .iS-SkinThumbnails .iS-Dot.badlab {
        background: url(../imgs/home/thumbs/badlab.png) no-repeat 0 0;
        left: 270px;
    }
    .iS-SkinThumbnails .iS-Dotactive, .iS-SkinThumbnails .iS-Dot.healbe.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.microarts.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.finsix.iS-Dotactive, .iS-SkinThumbnails .iS-Dot.badlab.iS-Dotactive{
        background-position: 0 -90px;
    }
}
}