.primary-footer{
    float: left;
    background-color: $blue;
    padding: 50px 75px;
    width: calc(100% - 150px);
    nav.footer {
        margin-bottom: 25px;
        float: none;
        ul {
            li {
                &:first-of-type {
                    padding-left: 0;
                    margin-left: 0;
                }
            }
        }
        a {
            color: $white;
        }
    }
    .newsletter {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        h2 {
            font-size: 1.25em;
            margin: 0 0 10px 0;
        }
        p {
            font-size: .9em;
            line-height: 1.5em;
            margin: 0 0 10px 0;
        }
    }
    .social {
        float: right;
        a {
            color: $white;
            font-size: 1.75em;
            padding-right: .5em;
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
    .footer-bottom {
        .logo {
            margin-bottom: 10px;
        }
    }
}


@media(min-width: $sm-breakpoint) {
    .primary-footer {
        address {
            display: inline-block;
            margin-right: 25px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}