// Homepage Animation Section

// Floating Boxes
.floater {
    width: 700px;
    height: 700px;
    background-color: $floater;
    position: fixed;
    transform: rotate(45deg);
}

.floater.one-left {
    left: -35%;
}
.floater.two-left {
    left: -33%;
    top: 40%;
}
.floater.one-right {
    right: -36%;
    top: -20%;
}
.floater.two-right {
    right: -34%;
    bottom: 0%;
}


// Other Animations
section.first-slide, section.second-slide {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    @include center(true, false);
    width: 100%;
}
section.second-slide {
    opacity: 0;
}

.billboard.opening-animation {
    min-height: calc(100vh - 101px);
}

.billboard, .billboard .content {
    position: relative;
    height: 100%;
}

section.first-slide {
    top: 70%;
}

section.load {
    position: fixed;
    @include center(true, false);
    top: 25%;
}

.arrow {
    margin: 0 auto;
    text-align: center;
    img {
        height: auto;
        position: relative;
    }
}
.arrow-spinner {
    margin: 0 auto;
    text-align: center;
    position: relative;
    img {
        height: auto;
        clear: both;
        position: relative;
    }
    span.scroll {
        display: block;
        opacity: 0;
        text-transform: uppercase;
        position: fixed;
        @include center(true, false);
    }
}
.arrow-spinner {
    height: 150px;
    img {
        width: $arrow-size / 2;
    }
}
.arrow {
    @include center(true, true);
    img {
        width: $arrow-size / 4;
    }
}
.arrow-spinner.resize {
    height: 150px;
    img {
        width: $arrow-size / 4;
    }
}
.arrow.resize {
    img {
        width: $arrow-size / 8;
    }
}
@media(min-width: $xs-breakpoint){ 
}
@media(min-width: $sm-breakpoint){
    .billboard {
        min-height: 407px;
        height: 407px;
    }
    section.second-slide {
        bottom: 35%;
    }
    section.first-slide.shrink {
        bottom: 60%;
    }
}
@media(min-width: $md-breakpoint){
    .billboard {
        min-height: 509px;
        height: 509px;
    }
    .arrow-spinner {
        height: 150px;
        img {
            width: $arrow-size;
        }
    }
    .arrow {
        @include center(true, false);
        img {
            width: $arrow-size / 2;
        }
    }
    .arrow-spinner.resize {
        height: 150px;
        img {
            width: $arrow-size / 2;
        }
    }
    .arrow.resize {
        img {
            width: $arrow-size / 4;
        }
    }
}
@media(min-width: $lg-breakpoint){
    .billboard {
        min-height: 651px;
        height: 651px;
    }
    section.second-slide {
        bottom: 25%;
    }
}
@media(min-width: $xl-breakpoint){
    .billboard {
        min-height: 814px;
        height: 814px;
    }
}
@media(min-width: $xxl-breakpoint){
}
