// Homepage Animation Section

// Floating Boxes
.floater {
    width: 700px;
    height: 700px;
    background-color: $floater;
    position: fixed;
    transform: rotate(45deg);
}

.floater.one-left {
    left: -35%;
}
.floater.two-left {
    left: -33%;
    top: 40%;
}
.floater.one-right {
    right: -36%;
    top: -20%;
}
.floater.two-right {
    right: -34%;
    bottom: 0%;
}

.billboard.opening-animation {
    min-height: calc(100vh - 101px);
}

.first-slide, .second-slide {
    text-align: center;
}

.billboard.opening-animation .first-slide {
    margin: 7.5vh 0 7.5vh 0;
}

.billboard.opening-animation .load {
    margin: 7.5vh 0 0 0;
}

.billboard, .billboard .content {
    position: relative;
    height: 100%;
}

.arrow-spinner {
    margin: 0 auto;
    text-align: center;
    img {
        width: $arrow-size / 4;
        height: auto;
    }
    span.scroll {
        display: block;
    }
}
.arrow {
    position: relative;
    top: -($arrow-size*.235);
    margin: 0 auto;
    text-align: center;
    transform: rotate(180deg);
    img {
        height: auto;
        position: relative;
        width: $arrow-size / 8;
    }
}

@media(min-width: $xs-breakpoint){ 
}
@media(min-width: $sm-breakpoint){
    .billboard {
        min-height: 407px;
        height: 407px;
    }
    .arrow-spinner {
        img {
            width: $arrow-size / 2;
        }
    }
    .arrow {
        top: -125px;
        img {
            width: $arrow-size / 4;
        }
    }
}
@media(min-width: $md-breakpoint){
    .billboard {
        min-height: 509px;
        height: 509px;
    }
}
@media(min-width: $sm-breakpoint) and (min-height: $lg-breakpoint) {
    .billboard.opening-animation .first-slide {
        margin: 15vh 0 15vh 0;
    }

    .billboard.opening-animation .load {
        margin: 15vh 0 0 0;
    }
}
@media(min-width: $lg-breakpoint){
    .billboard {
        min-height: 651px;
        height: 651px;
    }
}
@media(min-width: $xl-breakpoint){
    .billboard {
        min-height: 814px;
        height: 814px;
    }
    .floater.one-left {
        left: -15%;
    }
    .floater.two-left {
        left: -13%;
        top: 40%;
    }
    .floater.one-right {
        right: -16%;
        top: -20%;
    }
    .floater.two-right {
        right: -14%;
        bottom: 0%;
    }
}
@media(min-width: $xxl-breakpoint){
}

@media(max-height: $sm-breakpoint){
    .billboard.opening-animation .first-slide {
        margin: 2vh 0 2vh 0;
    }

    .billboard.opening-animation .load {
        margin: 2vh 0 0 0;
    }
    .billboard.opening-animation .content {
        font-size: .75em;
    }
}