.button{

}

input {
    border: 0;
    box-shadow: none;
    margin: 0;
    display: inline-block;
    float: left;
    font-size: .85em;
}

input[type="text"] {
    color: #ffffff;
    background-color: $gray;
    padding: 10px;
    width: calc(75% - 10px);
    @include uppercase;
}

input[type="submit"] {
    padding: 10px;
    width: calc(25% - 10px);
    background-color: $green;
    color: $white;
    text-align: center;
    @include uppercase;
}

::-webkit-input-placeholder {
   color: $white;
}

:-moz-placeholder {
   color: $white; 
}

::-moz-placeholder {
   color: $white;
}

:-ms-input-placeholder {  
   color: $white; 
}