html{
	overflow-x: hidden;
}
.content{
	//box-sizing: border-box;
	//width: 100%;
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 $content-padding;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}
.main, .single-post .container, .blog #content {
  padding-top:$nav-height;
}

.one-third {
    width: 100%;
    float: left;
}

@media(min-width: $md-breakpoint){
    .one-third {
        width: calc(100% / 3);
    }
}

@media( min-width: $lg-breakpoint){
	.column{
		width: 50%;
		float: left;

		& + .column{
			box-sizing: border-box;
			padding-left: $content-padding*2;
		}
	}
}