nav {
    float: right;
    @include uppercase;
	ul{
		list-style: none;
	}
}

@media(min-width: $lg-breakpoint) {
    nav {
        ul{
            li {
                display: inline-block;
                padding: 0 1.75em 0 0;
                line-height: 61px;
                &:last-of-type {
                    padding: 0;
                }
            }
        }
    }
}