table{
	border: 1px solid $gray;
}
thead{
	th, td{
		border: none;
		background: $black;
		color: $gray;
		text-transform: uppercase;
		@include rem('font-size', 16px);
		padding: .75em 1em;
		vertical-align: middle;
	}
}
tbody{
	th, td{
		border-bottom: 1px solid $gray;
		background: $white-gray;
		@include rem('font-size', 22px);
		font-weight: $bold;
		padding: .5em .75em;

		small{
			@include rem('font-size', 14px);
			text-transform: uppercase;
			font-weight: $light;
		}
		&:nth-child(even){
			background: darken($white-gray, 3%);
		}
	}
	th{
		color: $black;
		text-align: right;
	}
	td{
		color: $darker-gray;
		text-align: left;
	}
	tr:nth-child(odd){
		th, td{
			background: mix($white-gray, $lightest-gray, 50%);

			&:nth-child(even){
				background: darken( mix($white-gray, $lightest-gray, 50%), 3%);
			}
		}
	}
}