@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
html{
	//font-size: 62.5%;
}
body {
	@include rem('font-size', $font-size);
	font-family: $font-family;
    color: $white;
}
p {
    color: $white;
}
a{
	color: $link-color;
	@include transition(all $transition-speed $transition-ease);
	text-decoration: none;

	&:hover{
		color: $link-hover-color;
	}
}
strong, b{
	font-weight: $bold;
}
h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}
h2.small {
    font-size: 3.5em;
    font-weight: 100;
}
h2.large {
    font-size: 7.5em;
    font-weight: 300;
}
h3.small {
    font-weight: 300;
    font-size: 1.75em;
}
em, i{
	font-style: italic;
}
sup{
	top: -.25em;
	position: relative;
	font-size: .85em;
}