@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
html{
	//font-size: 62.5%;
}
body {
    @include rem('font-size', $font-size); 
	font-family: $font-family;
    color: $white;
}
p {
    color: $white;
}
a{
	color: $link-color;
	@include transition(all $transition-speed $transition-ease);
	text-decoration: none;

	&:hover{
		color: $link-hover-color;
	}
}
strong, b{
	font-weight: $bold;
}
h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

em, i{
	font-style: italic;
}
sup{
	top: -.25em;
	position: relative;
	font-size: .85em;
}
h2.small {
    font-weight: 100;
    font-size: 1.5em;
}
h2.medium, h2.large, h3.small {
    font-weight: 300;
    font-size: 1.5em;
}
.light, .small.light, .large.light {
    font-weight: 200;
}


@media( min-width: $md-breakpoint){
    h2.small {
        font-size: 2.5em;
    }
    h2.medium {
        font-size: 4em;
    }
    h2.large {
        font-size: 4.5em;
    }
}
@media( min-width: $lg-breakpoint){
    .light, .small.light, .large.light {
        font-weight: 100;
    }
}

@media( min-width: $xl-breakpoint){
    h2.small {
        font-size: 3.5em;
    }
    h2.medium {
        font-size: 5.5em;  
    }
    h2.large {
        font-size: 7.5em;
    }
    h3.small {
        font-size: 1.75em;
    }
}
@media( min-width: $xxl-breakpoint){
}