@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
html{
	//font-size: 62.5%;
}
body {
    @include rem('font-size', $font-size); 
	font-family: $font-family;
    color: $white;
}
p {
    color: $white;
}
a{
	color: $link-color;
	@include transition(all $transition-speed $transition-ease);
	text-decoration: none;

	&:hover{
		color: $link-hover-color;
	}
}
strong, b{
	font-weight: $bold;
}
h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}
h2.small {
    font-size: 1.25em;
}
h2.medium {
    font-size: 2.25em;  
}
h2.large {
    font-size: 2.75em;
}
h3.small {
    font-size: 1em;
}
em, i{
	font-style: italic;
}
sup{
	top: -.25em;
	position: relative;
	font-size: .85em;
}
h2.small {
    font-weight: $light;
}
h2.medium, h2.large, h3.small {
    font-weight: $normal;
}
.light, .small.light, .large.light {
    font-weight: $light;
}

span.scroll {
    text-transform: uppercase;
    font-size: .75em;
}

div.title {
    font-size: 1.75rem;
    h4 {
        font-size: .85em;
        margin: .25em 0 0 0;
    }
    p {
        font-size: 1rem;
        line-height: 1.25rem;
    }
    h3.small {
        font-size: 1.25em;
    }
}

@media( min-width: $sm-breakpoint){
    h2.small {
        font-size: 2.5em;
    }
    h2.medium {
        font-size: 4em;
    }
    h2.large {
        font-size: 4.5em;
    }
    h3.small {
        font-size: 1.75em;
    }
    span.scroll {
        font-size: 1em;
    }
}
@media( min-width: $lg-breakpoint){
    
}

@media( min-width: $xl-breakpoint){
    h2.small {
        font-size: 3.5em;
    }
    h2.medium {
        font-size: 5.5em;  
    }
    h2.large {
        font-size: 7.5em;
    }
    h3.small {
        font-size: 1.75em;
    }
}
@media( min-width: $xxl-breakpoint){
}