// COLORS
//------------------------------------------------------------//

// GENERAL DEFINITIONS
//------------------------------------------//


$green: #72afb6; //->Also appears in #EDAB20 and #EEAE30
$blue: #4a7997;

$white: #fff;
$black: #000;
$font-color: #fff;
$floater: rgba(255,255,255,.07);


// ASSIGNMENTS
//------------------------------------------//


$color: #414042;


$button-color: $white;
$button-hover-color: $white;

$link-color: $green;
$link-hover-color: $blue;


// DIRECTORIES
//------------------------------------------------------------//
$img-dir: '../imgs';

// TYPOGRAPHY
//------------------------------------------------------------//
$font-size: 16px;
$line-height: 1;
$font-family: 'Open Sans', 'Helvetica', sans-serif;


$light: 300;
$normal: 400;
$bold: 700;
$extra-bold: 800;

// LAYOUT
//------------------------------------------------------------//
$max-width: 2000px;
$min-width: auto;
$content-padding: 20px;
$sidebar-width: 275px;
$nav-height: 101px;

// BREAKPOINTS
//------------------------------------------------------------//
$xxs-breakpoint: 1px;
$xs-breakpoint: 480px;
$sm-breakpoint: 640px;
$md-breakpoint: 800px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1920px;

// BILLBOARD
//------------------------------------------------------------//

$box-one: -30%;
$box-two: -35%;

$arrow-size: 300px;


// MISC DEFAULTS
//------------------------------------------------------------//
$transition-speed: 250ms;
$transition-ease: ease-in-out;


// TERTIARY SECTION
//------------------------------------------//

// QUATERNARY SECTION
//-----------------------//

// QUINTARY SECTION //

//--> Note: this is a note/comment