/*Style*/
.iS-Loading {
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.iS-Loadingbox {
	position: relative;
	width: 100%;
	top: 50%;
	margin-top: -37px;
}
.iS-Loadingboxtitle{
	font-size: 20px;
	font-weight: 700;
}
.iS-Loadingboxbar {
	display: inline-block;
	height: 30px;
	width: 6px;
	-webkit-animation: Loadingboxbar 1.8s infinite ease-in-out;
	animation: Loadingboxbar 1.8s infinite ease-in-out;
}
/*Context*/
.iS-Loading {
	position: fixed;
}
.iS .iS-Loading {
	position: absolute;
}
/*Colors*/
.iS-Loading {
	background-color: #7aa2ab;
}
.iS-Loadingboxtitle {
	color: #fff;
}
.iS-Loadingboxbar {
	background-color: #fff;
}
/*Animation*/
.iS-Loadingboxbar:nth-child(2) {
	-webkit-animation-delay: -1.7s;
	animation-delay: -1.7s;
}
.iS-Loadingboxbar:nth-child(3) {
	-webkit-animation-delay: -1.6s;
	animation-delay: -1.6s;
}
.iS-Loadingboxbar:nth-child(4) {
	-webkit-animation-delay: -1.5s;
	animation-delay: -1.5s;
}
.iS-Loadingboxbar:nth-child(5) {
	-webkit-animation-delay: -1.4s;
	animation-delay: -1.4s;
}
@-webkit-keyframes Loadingboxbar {
	0%, 50%,  100% { opacity: 0.5; -webkit-transform: scaleY(0.2) }  
	25%, 75% { opacity: 1; -webkit-transform: scaleY(1.0) }
}
@keyframes Loadingboxbar {
	0%, 50%,  100% { opacity: 0.5; transform: scaleY(0.2) }  
	25%, 75% { opacity: 1; transform: scaleY(1.0) }
}
