.social-nav{
	li{
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;

		a{
			font-weight: $bold;
		}
		& + li a{
			margin-left: .85em;
		}
		&.split {
			padding-right: .85em;
			& + li{
				border-left: 1px solid $gray;
			}
		}
	}
}
@media( max-width: $md-breakpoint ){
	.social-nav{
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;
		padding: 1em;
	}
}
@media( min-width: $md-breakpoint ){
	.social-nav{
		position: absolute;
		top: 0;
		right: $content-padding;
	}
}